// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';


.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	position: sticky;
}

.no-disc ul>li {
	list-style-type: none;
	margin-bottom: 0.75rem;
}

.content ul {
	list-style-type: none;
}

.w-6 {
	width: 1.5rem;
}

.h-6 {
	height: 1.5rem;
}

.w-4 {
	width: 1rem;
}
.h-4 {
	height: 1rem;
}

audio, canvas, embed, iframe, img object, svg, video {
	// display: block;
	vertical-align: middle;
}

.text-brand-blue {
	color: $primary-color;
}

.border-brand-blue {
	border-color: $primary-color;
}

.border-2 {
	border-width: 2px;
}

.loop-svg {
	width: 1em;
	height: 1em;
	background-size: 10px 10px;
	fill: #363636;
}

/* h2.subtitle {
	font-size: 2rem !important;   
} */

[class*="has-background"].has-background {
	background-color: #FBFBFD;
}

.card {
	position: relative;
	transition: all 50ms ease-in-out;
	height: 100%;
	background: $card-background-gradient;
}

.card:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transform: scale(1.01);
}

.vr {
	border-left: 2px solid rgb(230, 228, 228);
	height:1.7rem; 
	align-self: center;
}

.hero.is-warning {
	background-color: #ffdd57;
	color: rgba(0,0,0,0.7);
}


.speaking-text {
	background: $speaking-color;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.writing-text {
	background: $writing-color;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.listening-text {
	background: $listening-color;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.reading-text {
	background: $reading-color;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrap-speaking {
	border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%; 
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	color: snow; 
}
.wrap-listening {
	border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%; 
	background: rgb(215, 246, 112);
	color: snow; 
}

.wrap-writing {
	border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%; 
	background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
	color: snow; 
}

.wrap-reading {
	border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%; 
	// background: linear-gradient(45deg, #3023AE 0%, #f09 100%);
	background: linear-gradient(90deg, #43cea2 0%, #185a9d 100%);
	color: snow; 
}


.is-centered-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%)!important;
}

.tertiary-header-action {
	right: 1.5em;
	top: 1.5em;
	z-index: 99;
	position: fixed;
}

.header-image {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	// height: 66%;
	transition: all 100ms ease-in-out;
}


.video-play-btn {
	background: transparent;
	border: none;
	z-index: 999;
	font-size: 6em;
	display: block;
	// position: absolute;
	// left: 42%;
	// top: 30%;
	cursor:pointer;
	// pointer-events: hand;
	opacity: 0.7;
}
.video-play-btn:hover {
	opacity: 1;
}

@media screen and (max-width: 769px) {

	.video-play-btn {
		font-size: 3em;
		// top: 20%;
		// left: 35%
	}
}

.is-playing {
	display: none;
}

.header-image > video {
	border-radius: 20px;
}

// .header-image:hover {
// 	top: -25%;
// 	left: 0%;
// 	width: 100%;
// 	height: 100%;
// }

a.navbar-item.active-link {
	background-color: transparent !important;
	box-shadow: inset 0 0 0 2px $primary-light !important;
}

.cookie-consent {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	margin-left: 1rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 1.5rem;
	z-index: 99;
	overflow: hidden;
	background-image: url(../images/undraw_cookie_love_ulvn.svg);
	background-size: 150px 140px;
	background-repeat: no-repeat;
	background-position: bottom right;
}
@media screen and (min-width: 769px) {
	.cookie-consent {
		max-width: 24em;
		left: auto;
	}
	.text-5xl {
		font-size: 5rem !important;
	}
}

#pricing-tag {
	border-radius: 0 calc($card-radius / 2) 0 0;
	pointer-events: none;
	flex-direction: column;
	height: auto;
}

.price-tag {
	text-decoration: line-through; 
	text-decoration-color: red;
	// text-decoration-thickness: 50px;
}

// testimonials
.show-more_wrapper-overlay {
  z-index: 1;
  height: 20em;
  background-image: linear-gradient(rgba(249,250,251,0),#f9fafb 70%);
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.special1 {
	transform: translateX(60%)
}

.special2 {
	transform: translateX(-40%)
}

.special3 {
	transform: translateX(40%)
}

article.media.box {
	border-radius:20px; 
	// padding:0
}

.eight-em {
	width: 10em
}

.ten-em {
	width: 12em
}

figure>p>img {
	border-radius: 20px 0 0 20px
}

// .header-background-icons {
// 	font-size: 1em;
// 	position: absolute;
// 	left: 10%;
// 	top: 20%;
// }